/* 변수 */
:root {
    --main-color: #033E8C;
    --sub-color: #F25041;
}

/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: notoSans, Arial;
    overflow-x: hidden;
    letter-spacing: -0.025em;
}

ul, ol {
    list-style: none;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

[type=checkbox], [type=radio] {
    display: none;
}

button, label {
    cursor: pointer;
}

/* 레이아웃 */
.f, .fl, .fr, .ft, .fb, .fe, .fc, .fm, .fd, .fw, .fu {
    display: flex;
}

.fl {
    justify-content: flex-start;
}

.fr {
    justify-content: flex-end;
}

.fc {
    justify-content: center;
}

.fu {
    justify-content: space-around;
}

.fe {
    justify-content: space-between;
}

.ft {
    align-items: flex-start;
}

.fm {
    align-items: center;
}

.fb {
    align-items: flex-end;
}

.fd {
    flex-direction: column;
}

.fw {
    flex-wrap: wrap;
}

.container {
    width: 1140px !important;
    max-width: 1140px !important;
}

/* 공용클래스 */
.hoverEffect {
    position: relative;
    padding: 1em 0;
}

.hoverEffect:after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 100rem;
    left: 51%;
    right: 51%;
    bottom: .6em;
    height: .2em;
    transition: left .3s, right .3s;
}

.hoverEffect.letter {
    padding: 0;
}

.hoverEffect.letter:after {
    bottom: .2em;
}

.hoverEffect:hover:after {
    left: 0;
    right: 0;
}

.sectionTitle {
    font-size: 2rem;
    font-weight: 700;
}
.sectionTitle span {
    color: #aaa;
    font-weight: 600;
}

.hf {
    height: 100%;
}

/* 헤더 */
header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}

header nav {
    margin: 0 auto;
    width: 1600px;
}

header .top {
    padding: 1rem;
    color: #fff;
}

header .bottom {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-around;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.4);
}

header .bottom label {
    /*color: #000;*/
    color: #ddd;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
}

header .bottom label a {
    display: inline-block;
}

header select {
    border: none;
    background: none;
    color: #ddd;
}

header .utility a {
    display: flex;
    align-items: center;
    color: #ddd;
    font-weight: 500;
}

header .utility a:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 1rem;
    margin: 0 .5em;
    background-color: rgba(255, 255, 255, .4);
}

#depth1:hover ~ .depth1,
#depth2:hover ~ .depth2,
#depth3:hover ~ .depth3,
#depth4:hover ~ .depth4,
#depth5:hover ~ .depth5,
.depth_1:hover {
    height: 250px;
    border: 1px solid #333;
}

#depth1:hover ~ .bottom,
#depth2:hover ~ .bottom,
#depth3:hover ~ .bottom,
#depth4:hover ~ .bottom,
#depth5:hover ~ .bottom,
.depth_1:hover ~ .bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

header .depth_1 {
    transition: height .3s;
    height: 0;
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(.5rem);
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    overflow: hidden;
    padding: 0 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

header .depth_2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header .depth_2 > a {
    margin-right: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

header .depth_3 a {
    display: flex;
}

header .depth_3 a span {
    padding-bottom: .4em !important;
}

header .depth_3 a:first-child {
    padding-top: 0;
}

#main section:not(.height) {
    min-height: 100vh;
}

/* 비주얼 */
#visual {
    position: relative;
}

#visual .item {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #ddd;
    text-shadow: 0 0 5px #000;
    opacity: 0;
}

#visual .item:nth-child(1) {
    animation: visual 12s infinite;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../../image/visual/1.jpg') center/cover;
}

#visual .item:nth-child(2) {
    animation: visual 12s -8s infinite;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../../image/visual/2.jpg') center/cover;
}

#visual .item:nth-child(3) {
    animation: visual 12s -4s infinite;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../../image/visual/3.jpg') bottom/cover;
}

#visual .item .title {
    position: relative;
}

#visual .item .title:before {
    content: "비주얼 이미지";
    border: 1px solid var(--sub-color);
    border-radius: 1rem;
    position: absolute;
    left: .4rem;
    top: -2rem;
    padding: .2em .6em;
    color: var(--sub-color);
    font-size: .8rem;
}

#visual .item .title h2 {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
}

#visual .item .title h2 span {
    margin: 0 .15em;
}

/* 행사 */
#event {
    position: relative;
}

#event .bgText {
    font-size: 18rem;
    color: rgba(0, 0, 0, .03);
    font-weight: 900;
    position: absolute;
    z-index: -1;
}

#event .bgText_1 {
    left: -1%;
    top: -10%;
}

#event .bgText_2 {
    right: -1%;
    bottom: -10%;
}

#event .item {
    position: relative;
    border: 1px solid #333;
    border-radius: 1rem;
    height: 240px;
    padding: 1rem;
    background: #fff;
    transition: background .3s;
}

#event .item button {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    border-radius: 100rem;
    padding: .2em .6em;
    opacity: 0;
    transform: translate(-50%, calc(-50% + 1rem));
    transition: color .3s, background-color .3s;
}

#event .item > * {
    transition: opacity .3s, transform .3s;
}

#event .wrapper div:nth-child(1) .item:hover {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../../image/1 (6).jpg') center/cover;
}

#event .wrapper div:nth-child(2) .item:hover {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../../image/1 (5).jpg') center/cover;
}

#event .wrapper div:nth-child(3) .item:hover {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../../image/1 (9).jpg') center/cover;
}

#event .wrapper div:nth-child(4) .item:hover {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../../image/1 (4).jpg') center/cover;
}

#event .wrapper div:nth-child(5) .item:hover {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../../image/1 (144).jpg') center/cover;
}

#event .wrapper div:nth-child(6) .item:hover {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../../image/1 (61).jpg') center/cover;
}

#event .wrapper div:nth-child(7) .item:hover {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../../image/1 (28).jpg') center/cover;
}

#event .wrapper div:nth-child(8) .item:hover {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../../image/1 (11).jpg') center/cover;
}

#event .item:hover > button {
    opacity: 1;
    transform: translate(-50%, -50%);
}

#event .item:hover > *:not(span):not(button) {
    opacity: 0;
    transform: translateY(1rem);
}

#event .item span {
    display: flex;
    width: 3.2em;
    height: 3.2em;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    color: #fff;
    font-weight: 600;
}

#event .item span.red {
    background-color: var(--red);
}

#event .item span.blue {
    background-color: var(--blue);
}

#event .item span.green {
    background-color: var(--green);
}

/* 새소식 */
#news {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url('../../image/1 (52).jpg') center/cover;
}

#news .sectionTitle {
    color: #fff;
}

#news .box {
    height: 60vh;
}

#news .box > div {
    position: relative;
    background-color: rgba(255,255,255,.7);
    backdrop-filter: blur(15px);
    border-radius: 2rem;
}

#news .tabBox {
    background-color: #fff;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    font-size: 1.4rem;
    color: #333;
    padding: 0;
    overflow: hidden;
}

#news .tabBox label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    transition: background-color .3s;
}

#news .wrapper {
    position: relative;
}

#news .wrapper > div {
    padding: 1.6rem 2rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .3s;
}

#news .wrapper > div > .item:last-child div {
    background-color: var(--sub-color);
    position: relative;
}

#news .wrapper > div > .item:last-child div:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5rem;
    height: .5rem;
    background-color: #fff;
    border-radius: 100rem;
}

#news .wrapper > div > .item:last-child div:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 5rem;
    width: .5rem;
    background-color: #fff;
    border-radius: 100rem;
}

#news .item {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 50%;
}

#news .item > div {
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
    border-radius: 1rem;
    height: 100%;
    padding: 1rem;
}

#news .item > div span {
    font-size: .8rem;
    border: 1px solid var(--sub-color);
    color: var(--sub-color);
    border-radius: 100em;
    padding: .2em .6em;
}

#news_1:checked ~ .tabBox [for=news_1],
#news_2:checked ~ .tabBox [for=news_2],
#news_3:checked ~ .tabBox [for=news_3],
#news_4:checked ~ .tabBox [for=news_4] {
    color: #fff;
    background-color: var(--main-color);
}

#news_1:checked ~ .wrapper > div:nth-child(1),
#news_2:checked ~ .wrapper > div:nth-child(2),
#news_3:checked ~ .wrapper > div:nth-child(3),
#news_4:checked ~ .wrapper > div:nth-child(4) {
    opacity: 1;
}

/* 팝업존 */
#popup .item {
    overflow: hidden;
    padding: 0;
}

#popup img {
    object-fit: cover;
    object-position: center;
    height: 600px;
    transition: transform .3s;
    width: 100%;
}

#popup img:hover {
    transform: scale(1.2);
}
/* 유네스크 인류무형유산 */
#heritage {
    padding: 120px 0;
}

#heritage .imgBox {
    height: 160px;
    object-fit: cover;
    object-position: center;
    transition: flex .3s, max-width .3s;
    border-radius: 100rem;
}

#heritage .imgBox1 {
    background: url('../../image/1 (83).jpg') center/cover;
}

#heritage .imgBox2 {
    background: url('../../image/1 (80).jpg') center/cover;
}

#heritage .imgBox3 {
    background: url('../../image/1 (89).jpg') center/cover;
}

#heritage .wrapper > * {
    margin-bottom: 2rem;
}

#heritage label {
    transition: flex .3s, max-width .3s;
}

#heritage .item {
    height: 160px;
    border-radius: 100rem;
    border: 1px solid #333;
    justify-content: center;
    padding: 1em;
    transition: background-color .3s, color .3s;
}

#heritage .item ul {
    display: none;
}

#heritage label:hover .item {
    justify-content: space-around;
    background-color: var(--main-color);
    color: #fff;
}

#heritage label:hover .item ul {
    display: block;
}

@media(min-width: 481px){
    #heritage label:hover {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    #heritage [type=checkbox]:hover ~ .imgBox {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
}

/* 베너영역 */
#banner {
    margin-bottom: 120px;
    padding: 0;
}
#banner .box {
    overflow: hidden;
    border: 1px solid #ccc;
}
#banner .wrapper {
    width: calc(180px * 10);
}
#banner .wrapper:first-child {
    animation: banner 20s infinite;
}
#banner .item {
    overflow: hidden;
}
#banner .item img {
    transition: transform .3s;
}
#banner .item img:hover {
    transform: scale(1.1);
}
#banner .box:hover .wrapper {
    animation-play-state: paused;
}

/* 푸터 */
footer {
    background: #161616;
    color: #fff;
    padding: 2rem 0;
}

footer select {
    background: none;
    border: none;
    color: #fff;
    border-left: 1px solid #ccc;
}

footer .top * {
    margin-bottom: 0;
}

footer .mid {
    border: 1px solid #ccc;
    border-radius: 1rem;
    margin: 3rem 0;
}
footer .mid li {
    padding-left: 1rem;
    font-weight: 300;
}

footer .bottom {
    color: #aaa;
}

#sub #visual {
    height: 300px;
}
#subNavigation {
    border-bottom: 1px solid #555;
}
#subNavigation .container {
    border-left: 1px solid #555;
    padding: 0;
}
#subNavigation .container a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-right: 1px solid #555;
    padding: 1rem 0;
    height: 100%;
}
#subNavigation .container a.active {
    background-color: var(--main-color);
    color: #fff;
}
#sub #contents > .container {
    padding: 80px 0;
}

/* 반응형 */
@media (max-width: 480px) {
    html { font-size: 14px; }

    .container {
        width: 380px !important;
        max-width: 380px !important;
    }

    header nav {
        width: 440px;
    }

    header .bottom label {
        font-size: 1rem;
    }

    #event {
        padding-top: 80px;
    }

    #popup img {
        height: 300px;
    }

    #news .box {
        padding-top: 120px;
        padding-bottom: 120px;
        min-height: 60%;
        height: inherit;
    }
    #news .tabBox {
        border-bottom-left-radius: 0;
        border-top-right-radius: 2rem;
        flex-wrap: wrap;
    }
    #news .wrapper {
        height: 700px;
    }
    #news .item {
        height: calc(100%/3);
    }

    #heritage .box {
        display: flex;
    }
    #heritage .wrapper {
        flex-direction: column;
        flex: 1;
        margin: 0;
    }
    #heritage .imgBox {
        display: table;
        height: 220px;
    }
    #heritage .item {
        height: 96px;
    }
    #heritage label:hover .item {
        height: 220px;
    }
    #heritage [type=checkbox]:hover ~ .imgBox {
        height: 96px;
    }
}

/* 키프레임 */
@keyframes visual {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    33.33% {
        opacity: 1;
    }
    43.33% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes banner {
    0% {margin-left: 0;}
    5% {margin-left: 0;}
    10% {margin-left: calc(180px * -1);}
    15% {margin-left: calc(180px * -1);}
    20% {margin-left: calc(180px * -2);}
    25% {margin-left: calc(180px * -2);}
    30% {margin-left: calc(180px * -3);}
    35% {margin-left: calc(180px * -3);}
    40% {margin-left: calc(180px * -4);}
    45% {margin-left: calc(180px * -4);}
    50% {margin-left: calc(180px * -5);}
    55% {margin-left: calc(180px * -5);}
    60% {margin-left: calc(180px * -6);}
    65% {margin-left: calc(180px * -6);}
    70% {margin-left: calc(180px * -7);}
    75% {margin-left: calc(180px * -7);}
    80% {margin-left: calc(180px * -8);}
    85% {margin-left: calc(180px * -8);}
    90% {margin-left: calc(180px * -9);}
    95% {margin-left: calc(180px * -9);}
    100% {margin-left: calc(180px * -10);}
}